*{margin: 0;padding: 0;box-sizing: content-box;}
.row{
    margin: 0!important;
}
#QuemSomos{
    padding-top: 100px;
    min-height: 650px;
    background: #CECECE;
}
#PostsRecentes{
    padding-top: 100px;
    min-height: 650px;
    background: #0099ff;
}
#seta{
    width: 150px;
    position: fixed;
    bottom: 20px;
    right: 0;
    cursor: pointer;
    background: #cccccc;
    border-radius: 50px 0 0 50px;
}
#seta img{
    position: relative;
    width: 40%;
}