*{margin: 0;padding: 0;box-sizing: content-box;}
.row{
    margin: 0!important;
}
#QuemSomos{
    padding-top: 100px;
    min-height: 650px;
    background: #CECECE;
}
#PostsRecentes{
    padding-top: 100px;
    min-height: 650px;
    background: #0099ff;
}
#seta{
    width: 50px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}
#seta img{
    width: 100%;
}